body {
    font-family: sans-serif;
    background: linear-gradient(#cce7ff, #e0ffe0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
